{
  "presets": [
    "react",
    "typescript",
    ["env", {
      "targets": {
        "browser": "last 2 versions"
      },
      "modules": false,
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-class-properties",
    "syntax-dynamic-import"
  ]
}
